#canvas_container {
  background: #fff;
  border: 0px;
  border-radius: 3px;
  height: 500px;
  overflow: hidden;
  width: 900px;
  margin: 60px auto;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

canvas {
  width: 900px;
  height: 500px;
  background-color: #e6e6fa;
}
